.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  width: 50%;
  margin: auto;
  padding: 1.8rem 1.5rem;
}
